{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<main class="container my-5 d-flex justify-content-center align-items-center">
    <div class="card shadow p-4" style="width: 100%; max-width: 400px; border-radius: 1rem;">
        <h3 class="text-center mb-4">Login with your email</h3>
        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {{ form.non_field_errors }}
            </div>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_email" class="form-label">Email</label>
                <input type="email" name="email" autofocus maxlength="254" class="form-control{% if form.email.errors %} is-invalid{% endif %}" required id="id_email" value="{{ form.email.value|default_if_none:'' }}">
                {% for error in form.email.errors %}
                    <div class="invalid-feedback d-block">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="mb-3">
                <label for="id_password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control{% if form.password.errors %} is-invalid{% endif %}" required id="id_password">
                {% for error in form.password.errors %}
                    <div class="invalid-feedback d-block">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>
</main>
{% endblock %}